* {
    margin: 0;
    padding: 0;
}
*:focus {
    outline: unset;
}
a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* Custom scroll */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #cacaca;
}
::-webkit-scrollbar-track {
    background: #f3f4f6;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
/* End custom scroll */

/* Custom selection */
::selection {
    color: rgb(58, 149, 201);
    background: rgb(191, 219, 254);
}
/**/
.group, .group-bg, .group-border, .group-opacity, .group-radius, .group-shadow, .group-spacing, .group-text, .group-transform, .group-input {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

*, ::after, ::before {
    box-sizing: border-box;
}